<header>
	<!--Navbar-->
	<nav class="navbar navbar-toggleable-md navbar-dark fixed-top">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">
				<strong>Bull</strong>
			</a>
			<div class="collapse navbar-collapse" id="navbarNav1">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarNav1">
						<a [routerLink]="['/world-index']"  class="nav-link">
							各地指數
						</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarNav1">
						<a [routerLink]="['/watchlist']" class="nav-link">
							觀察名單
						</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarNav1">
						<a [routerLink]="['/hsi-constituent']" class="nav-link">
							恒指成份股
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--/.Navbar-->
</header>
