<div class="row">
	<div class="col-lg-4 text-xs-center" *ngFor="let ticker of tickers; let i = index" [attr.data-index]="i">
		<div class="card">
			<img class="img-thumbnail" src="//charts.aastocks.com/servlet/Charts?fontsize=12&15MinDelay=F&lang=1&titlestyle=1&vol=1&Indicator=1&indpara1=10&indpara2=50&indpara3=100&indpara4=0&indpara5=0&subChart1=3&ref1para1=12&ref1para2=26&ref1para3=9&scheme=1&com=100&chartwidth=480&chartheight=360&stockid={{ ticker.symbol }}.HK&period=5023&type=1&ts={{ ts }}" />
		</div>
	</div>
</div>
