<div class="row">
	<div class="col-lg-4 text-xs-center" *ngFor="let index of indexes; let i = index" [attr.data-index]="i">
		<div class="card">
			<div class="card-body" style="padding:5px 0px 5px 15px;">
				<!--Title-->
				<h5 class="card-title">{{index.name}}</h5>
				<span style="color: green;" *ngIf="index.change >= 0">{{index.price}} 
                    <!--<md-icon class="font-size-2 opacity-50 margin-left-10"  md-font-icon="fa fa-thumbs-o-up" ></md-icon>-->
					<i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <small>{{index.change}}</small>
                </span>
				<span style="color: red;" *ngIf="index.change < 0">{{index.price}} 
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <small>{{index.change}}</small>
                </span>
			</div>

			<img class="img-thumbnail" src="//www.google.com.hk/finance/chart?cht=c&amp;q={{index.symbol}}&amp;tlf=24h&amp;ei=Lf8JU_HOH4etkgWELw&amp;ts={{ts}}" style="min-height: 160px;"/>
		</div>
	</div>
</div>
